@page "/addevent"

@using Radzen
@using Microsoft.Maui.Graphics
@using System.Text.Json
@using musei.Data
@inject CosmosService cs
@inject Session sess
@inject NotificationService NotificationService

<RadzenNotification />
<link rel="stylesheet" href="~/@(nameof(musei)).styles.css" />
<style>
    .flexColumn {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .inputMargin {
        margin: 10px;
    }

    body {
        padding: 20px;
    }
</style>

<body>

    <h3 style="color: #F52D11; text-align: center">Add Event To @sess.currentMuseum.name</h3>

    <div class="flexColumn">
        <RadzenTemplateForm Submit=@OnSubmit
                            InvalidSubmit=@OnInvalidSubmit
                            TItem="Event"
                            Data=@newEvent>
            <RadzenTextBox Placeholder="Title" Class="w-100" @bind-Value=@newEvent.name Name="title"
                           Style="margin: 5px; border-radius: 10px;"/>
            <RadzenRequiredValidator Component="title" Text="Title is required" Popup=false Style="position: static" />
            <RadzenDatePicker TValue="DateTime?" ShowTime="true" HoursStep="1" MinutesStep="15" DateFormat="MM/dd/yyyy HH:mm"
                              Class="w-100" @bind-Value=@startTime Placeholder="Date" Name="date"
                              Style="margin: 5px; border-radius: 10px;"/>
            <RadzenRequiredValidator Component="date" Text="Date is required" Popup=false Style="position: static" />
            <RadzenTextArea Placeholder="Description" Class="w-100" Rows="12" @bind-Value=@newEvent.description Name="description"
                            Style="margin: 5px; border-radius: 10px;"/>
            <RadzenRequiredValidator Component="description" Text="Description is required" Popup=false Style="position: static" />
            <RadzenNumeric TValue="int?" Placeholder="Price" Class="w-100" @bind-Value=@price Name="price"
                           Style="margin: 5px; border-radius: 10px;"/>
            <RadzenRequiredValidator Component="price" Text="Price is required" Popup=false Style="position: static" />
            <RadzenFileInput @bind-Value=@photo @bind-FileName=@fileName TValue="string" Class="w-100" ChooseText="Select Image"
                             Style="margin: 5px; border-radius: 10px;" Name="photo" />
            <RadzenRequiredValidator Component="photo" Text="Image is required" Popup=false Style="position: static" />
            <RadzenButton Text="Submit" Class="w-100"
                          IsBusy=@busy
                          ButtonType="ButtonType.Submit"
                          Style="background-color: #F52D11; margin-top: 20px"/>
        </RadzenTemplateForm>
    </div>
</body>

@code {

    DateTime? startTime;
    int? price;
    public Event newEvent = new Event();
    public string photo;
    public string fileName;
    bool busy = false;

    async void OnSubmit()
    {
        busy = true;
        newEvent.startTime = (DateTime)startTime;
        newEvent.price = (int)price;
        newEvent.id = Guid.NewGuid().ToString("N");
        sess.currentMuseum.events.Add(newEvent.id);
        newEvent.imageURL = photo.Substring(photo.IndexOf("data:image/"));
        newEvent.museum = sess.currentMuseum.id;
        await cs.UploadEvent(newEvent);
        await cs.UpdateMuseum(sess.currentMuseum);
        NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Event Creation Successful", Duration = 40000 });
        await cs.GetMuseums();
        await cs.GetEvents();
        await Task.Delay(2000);
        await App.Current.MainPage.Navigation.PopToRootAsync();
    }

    void OnInvalidSubmit(FormInvalidSubmitEventArgs args){}

 }