@page "/allmuseums"
@using Radzen
@using musei.Data
@inject CosmosService cs
@inject Session sess

<style>
    .flexColumn {
        display: flex;
        flex-direction: column;
    }

    .flexRow {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    eventNewsList {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    body {
        padding: 20px;
    }
</style>

<body>
    <div class="flexColumn">
        <div class="museumList">
            @if (cs.museums.Count == 0)
            {
                <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
            }
            else
            {
                if (sess.currentUser != null && sess.currentUser.isAdmin)
                {
                    <MuseumCardAdmin m=mus />
                }
                else
                {
                    <MuseumCardClient m=mus />
                }
            }
        </div>
    </div>

</body>



@code{
    protected override async Task OnInitializedAsync()
    {
        await cs.GetMuseums();
    }
}
