@page "/allmuseums"
@using Radzen
@using musei.Data


<br />
<h3>All Museums</h3>
<br />

<div class="flexColumn">
    <div class="museumList">

        @foreach (Museum m in DatabaseController.museums.Values)
        {
            <MuseumCardClient MuseumName=@m.name Address=@m.address OpeningHours=@m.hours ImagePath="Images/randmuseum.png" />
        }
    </div>

</div>

@code {

}
