@page "/allmuseums"
@using Radzen


<br />
<h3>All Museums</h3>
<br />

<div class="flexColumn">
    <div class="museumList">
        <MuseumCardClient MuseumName="Museo de Roma" Address="Street 00" OpeningHours="M-S: 12:30 - 5:30" ImagePath="Images/randmuseum.png" />
        <MuseumCardAdmin MuseumName="Musei in Commune" Address="Street 11" OpeningHours="M-S: 12:30 - 5:30" ImagePath="Images/randmuseum.png" />
    </div>

</div>
@code {
    String bodyTextFiller = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt " +
    "ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip " +
    "ex ea commodo consequat.";
}
