@page "/allmuseums"
@using Radzen
@using musei.Data
@inject CosmosService cs
@inject Session sess

<br />

<div class="flexColumn">
    <div class="museumList">
        @if (cs.museums.Count == 0)
        {
            <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
        }
        else
        {

            @foreach (Museum mus in cs.museums.Values)
            {
                if (sess.currentUser == null || !sess.currentUser.isAdmin)
                {
                    <MuseumCardClient m=mus />

                }
                else
                {
                    <MuseumCardAdmin m=mus />
                }

            }
        }
    </div>

</div>


@code{

    protected override async Task OnInitializedAsync()
    {
        await cs.GetMuseums();


    }

}
