@page "/changepassword"

@using Radzen
@using Microsoft.Maui.Graphics
@using System.Text.Json

<link rel="stylesheet" href="~/@(nameof(musei)).styles.css" />

<h3>Change Password</h3>
<h6>Please enter a new password.</h6>

<RadzenCard>
    <RadzenPassword Placeholder="New Password" Class="w-100" />
    <RadzenPassword Placeholder="Confirm New Password" Class="w-100" />
</RadzenCard>

<RadzenCard class="row align-items-center">
    <RadzenButton Text="Submit" class="align-items-center" />
</RadzenCard>