@page "/eventcard"

@using Radzen
@using Microsoft.Maui.Graphics
@using musei.Data
@inject CosmosService cs
@inject Session sess


<style>
    .flexRow {
        display: flex;
        flex-direction: row;
    }

    .flexColumn {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }

    .textIcon {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: 0;
        justify-content: flex-end;
        gap: 5px;
    }

    img {
        max-width: 100%;
    }
</style>

<RadzenCard class="flexColumn rz-shadow-0" Style="border-radius: 20px;">
    <RadzenButton Variant="Variant.Text" Click=@(args => OnClickEvent())>
        <img src=@e.imageURL />
    </RadzenButton>
    <div class="flexRow">
        <RadzenButton Variant="Variant.Text" Click=@(args => OnClickEvent()) Text=@e.name Size="ButtonSize.Large"
                      Style="color: #F52D11;" />

        <div class="textIcon">
            <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Right" Style="color: #F52D11">@e.startTime.ToShortTimeString() </RadzenText>
            <RadzenIcon Icon="schedule" />
        </div>
    </div>
    <div class="flexRow">
        <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Left" Style="color: #F52D11; margin-left: 20px">@cs.museums[e.museum].name</RadzenText>
        <div class="textIcon">
            <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Right" Style="color: #F52D11">@e.startTime.ToShortDateString()</RadzenText>
            <RadzenIcon Icon="event" />
        </div>
    </div>

    <div style="color: black; margin-left: 20px">@e.description</div>
</RadzenCard>

@code {
    [Parameter]
    public Event e { get; set; }

    async void OnClickEvent()
    {
        sess.currentEvent = e;
        await App.Current.MainPage.Navigation.PushAsync(new xEventPage());
    }
}

