@page "/eventcard"

@using Radzen
@using Microsoft.Maui.Graphics
@using musei.Data
@inject CosmosService cs


<style>
    .flexRow {
        display: flex;
        flex-direction: row;
    }

    .flexColumn {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }

    .textIcon {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: 0;
        justify-content: flex-end;
        gap: 5px;
    }

    img {
        max-width: 100%;
    }
</style>

<RadzenCard class="flexColumn">
    <RadzenButton Variant="Variant.Text" Click=@(args => OnClickEvent())>
        <img src=@ImagePath />
    </RadzenButton>
    <div class="flexRow">
        <RadzenButton Variant="Variant.Text" Click=@(args => OnClickEvent()) Text=@e.name Size="ButtonSize.Large" />

        <div class="textIcon">
            <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Right">@e.startTime.ToShortTimeString() </RadzenText>
            <RadzenIcon Icon="schedule" />
        </div>
    </div>
    <div class="flexRow">
        <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Left">@cs.museums[e.museum].name</RadzenText>
        <div class="textIcon">
            <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Right">@e.startTime.ToShortDateString()</RadzenText>
            <RadzenIcon Icon="event" />
        </div>
    </div>

    <div>@e.description</div>
</RadzenCard>

@code {
    [Parameter]
    public Event e { get; set; }

    [Parameter]
    public string ImagePath { get; set; } = "Images/randmuseum.png";

    async void OnClickEvent()
    {
        Session.currentEvent = e;
        await App.Current.MainPage.Navigation.PushAsync(new xEventPage());
    }
}

