@page "/forgotpassword"

@using Radzen
@using Microsoft.Maui.Graphics
@using System.Text.Json

<link rel="stylesheet" href="~/@(nameof(musei)).styles.css" />

<h3>Forgot Password</h3>
<h6>Please enter the email that your Musei Fantastici account is associated with.</h6>

<RadzenCard>
    <RadzenTextBox Placeholder="Email" Class="w-100" />
</RadzenCard>

<RadzenCard class="row align-items-center">
    <RadzenButton Text="Submit" class="align-items-center" />
</RadzenCard>

