@page "/"

@using Radzen
@using musei.Data
@using System.Text.Json
@inject CosmosService cs


<style>
    .eventNewsList {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    body {
        padding: 20px;
    }
</style>

<body>
    <div class="eventNewsList">

        @if (cs.events.Count == 0 || isRefreshing)
        {
            <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
        }
        else
        {
            <RadzenButton IsBusy=@isRefreshing Variant="Variant.Flat" ButtonStyle="ButtonStyle.Danger" Click=@(args => OnClickRefresh()) Icon="refresh" />

            foreach (Event ev in cs.events.Values)
            {
                <RadzenCard Class="rz-shadow-2"
                            Style="border-radius: 20px; padding: 10px; margin-top: 10px; margin-bottom: 10px; background-color: #EFEFF0 ">
                    <EventCard e=ev />
                </RadzenCard>

            }
        }
    </div>
</body>

@code {

    public bool isRefreshing = false;

    protected override async Task OnInitializedAsync()
    {
        await cs.GetMuseums();
        await cs.GetEvents();
    }

    async void OnClickRefresh()
    {
        isRefreshing = true;
        StateHasChanged();
        Console.WriteLine("Refresh");
        cs.museums = await cs.GetMuseums();
        cs.events = await cs.GetEvents();
        isRefreshing = false;
        StateHasChanged();
    }
}
