@page "/"

@using Radzen
@using musei.Data
@using musei.Pages
@using System.Text.Json
@using Microsoft.Azure.Cosmos;

<style>
    .eventNewsList {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
</style>


<br />
<h3>Events and News</h3>

<div class="eventNewsList">
    @foreach (Event e in @events)
    {
        <EventCard EventName=@e.name MuseumName=@e.museum.ToString() Date=@e.startTime.ToShortDateString() Time=@e.startTime.ToShortTimeString() ImagePath="Images/randmuseum.png" Body=@e.description />

    }
</div>

@code {
    static String bodyTextFiller = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.";
    List<Event> events = new List<Event>();
    //static Event event1 = new Event
    //{
    //    id = "1",
    //    name = "Event1",
    //    museum = 1,
    //    startTime = new DateTime(2022, 11, 17, 15, 30, 0),
    //    description = bodyTextFiller,
    //};

    //List<Event> events = new List<Event> { event1, event2 };

    protected override async Task OnInitializedAsync()
    {
        await DatabaseController.getAllEvents();
        events = DatabaseController.events;
     
    }
}

