@page "/"

@using Radzen
@using musei.Data
@using System.Text.Json
@inject CosmosService cs


<style>
    .eventNewsList {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
</style>

<br />
<div class="eventNewsList">

    @if (cs.events.Count == 0)
    {
        <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
    }
    else
    {
        foreach (Event ev in cs.events.Values)
        {
            <EventCard e=ev/>
        }
    }
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await cs.GetMuseums();
        await cs.GetEvents();
    }
}
