@page "/"

@using Radzen
@using musei.Data
@using musei.Pages
@using System.Text.Json
@using Microsoft.Azure.Cosmos;

<style>
    .eventNewsList {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
</style>


<br />
<h3>Events and News</h3>

<div class="eventNewsList">
    @foreach (Event e in @events.Values)
    {
        <EventCard EventName=@e.name MuseumName=@museums[e.museum].name Date=@e.startTime.ToShortDateString() Time=@e.startTime.ToShortTimeString() ImagePath="Images/randmuseum.png" Body=@e.description />
    }
</div>

@code {
    Dictionary<string, Event> events = new Dictionary<string, Event>();
    Dictionary<string, Museum> museums = new Dictionary<string, Museum>();

    protected override async Task OnInitializedAsync()
    {
        await DatabaseController.getAllEvents();
        await DatabaseController.getAllMuseums();

        events = DatabaseController.events;
        museums = DatabaseController.museums;
    }
}

