@using Radzen
@page "/login"

<RadzenText TextStyle="TextStyle.H3" TextAlign="TextAlign.Center">Musei Fantastici</RadzenText>
<RadzenText TextStyle="TextStyle.Body1" TextAlign="TextAlign.Center"><br />Log in with your account and catch up on events personalized to you!</RadzenText>


<div class="container-fluid">
    <div class="row d-flex px-3">
        <div class="col-xl-6 p-3">
            <RadzenCard class="p-5">
                <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H2" Class="mb-4">
                </RadzenText>
                <RadzenTemplateForm Data=@("LoginWithRegisterAndReset")>

                    <RadzenLogin LoginText="Log In" Login=@(args => OnLogin(args, "Login with register and password reset"))
                                 ResetPassword=@(args => OnResetPassword(args, "Login with register and password reset"))
                                 Register=@(args => OnRegister("Login with register and password reset")) />
                </RadzenTemplateForm>
            </RadzenCard>
        </div>
        
    </div>
</div>

@*<EventConsole @ref=@console Class="mt-4" />*@

@code {
    string userName = "admin";
    string password = "admin";

    //EventConsole console;

    void OnLogin(LoginArgs args, string name)
    {
        //console.Log($"{name} -> Username: {args.Username}, password: {args.Password}");
    }

    void OnRegister(string name)
    {
        //console.Log($"{name} -> Register");
    }

    void OnResetPassword(string value, string name)
    {
        //console.Log($"{name} -> ResetPassword for user: {value}");
    }
}