@using Radzen
@using musei.Data
@page "/login"
@inject CosmosService cs
@inject Session sess


<br />
<div>cur user = @sess.currentUser</div>
<RadzenText TextStyle="TextStyle.H3" TextAlign="TextAlign.Center">Musei Fantastici</RadzenText>
<RadzenText TextStyle="TextStyle.Body1" TextAlign="TextAlign.Center"><br />Log in with your account and catch up on events personalized to you!</RadzenText>


<div class="container-fluid">
    <div class="row d-flex px-3">
        <div class="col-xl-6 p-3">
            <RadzenCard class="p-5">
                <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H2" Class="mb-4">
                </RadzenText>
                <RadzenTemplateForm Data=@("LoginWithRegisterAndReset")>

                    <RadzenLogin LoginText="Log In" Login=@(args => OnLogin(args))
                                 ResetPassword=@(args => OnResetPassword(args, "Login with register and password reset"))
                                 Register=@(args => OnRegister("Login with register and password reset")) />
                </RadzenTemplateForm>
            </RadzenCard>
        </div>

    </div>
</div>



@code {
    string userName = "admin";
    string password = "admin";

    async void OnLogin(LoginArgs args)
    {
        sess.currentUser = await cs.LoginUser(args.Username);
        await App.Current.MainPage.Navigation.PopToRootAsync();

        //await App.Current.MainPage.Navigation.PushAsync(new xHomePage());
    }

    async void OnRegister(string name)
    {
        await App.Current.MainPage.Navigation.PushAsync(new xSignUp());
    }

    async void OnResetPassword(string value, string name)
    {
        await App.Current.MainPage.Navigation.PushAsync(new xForgotPassword());
    }
}