@page "/museumcardadmin"

@using Radzen
@using Microsoft.Maui.Graphics
@using musei.Data
@inject Session sess

<link rel="stylesheet" href="~/@(nameof(musei)).styles.css" />

<RadzenCard>
    <div class="flexRow">
        <div class="leftAlign">
            <RadzenButton Variant="Variant.Text" Click=@(args => OnClickEvent("Large button"))>
                <img src=@m.imageURL />
            </RadzenButton>
            <RadzenButton Variant="Variant.Text" Click=@(args => OnClickEvent("Large button")) Text="@m.name" Size="ButtonSize.Large" />
            <RadzenButton Variant="Variant.Text" Click=@(args => OnClickMap("Large button")) Text="@m.address" Icon="account_balance" />
            <RadzenButton Variant="Variant.Text" Text="@m.hours" Icon="event" />
            <RadzenButton Variant="Variant.Flat" Click=@(args => OnClickAdd("Large button")) Text="Add" ButtonStyle="ButtonStyle.Danger" />

        </div>
    </div>
</RadzenCard>

@code {
    [Parameter]
    public Museum m { get; set; } = null;

    async void OnClickEvent(string buttonName)
    {
        await App.Current.MainPage.Navigation.PushAsync(new xMuseumPage());
    }

    async void OnClickAdd(string buttonName)
    {
        sess.currentMuseum = m;
        await App.Current.MainPage.Navigation.PushAsync(new xAddEvent());
    }
    void OnClickMap(string buttonName)
    {
    }
}