@page "/museumcardclient"
@inject NavigationManager NavManager
@inject NavigationManager NavigationManager
@using musei.Pages


@using Radzen
@using Microsoft.Maui.Graphics

<link rel="stylesheet" href="~/@(nameof(musei)).styles.css" />

<RadzenCard>
    <div class="flexRow">
        <div class="leftAlign">
            <RadzenButton Variant="Variant.Text" Click=@(args => OnClickEvent("Large button")) Text="@MuseumName">
                <img src=@ImagePath />
            </RadzenButton>
            <RadzenButton Variant="Variant.Text" Click=@(args => OnClickEvent("Large button")) Text="@MuseumName" Size="ButtonSize.Large" />
            <RadzenButton Variant="Variant.Text" Click=@(args => OnClickMap("Large button")) Text="@Address" Icon="account_balance" />
            <RadzenButton Variant="Variant.Text" Text="@OpeningHours" Icon="event" />
            <RadzenButton Variant="Variant.Flat" Click=@(args => OnClickFollow("Danger button")) Text=@buttonStatus ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.Medium" />

        </div>
    </div>
</RadzenCard>

@code {
    [Parameter]
    public string MuseumName { get; set; }

    [Parameter]
    public string Address { get; set; }

    [Parameter]
    public string OpeningHours { get; set; }

    [Parameter]
    public string ImagePath { get; set; }

    private string buttonStatus = "Follow";

    void OnClickFollow(string buttonName)
    {
        if (buttonStatus == "Follow")
        {
            buttonStatus = "Unfollow";
        }
        else
        {
            buttonStatus = "Follow";
        }
    }
    void OnClickMap(string buttonName)
    {
    }
    async void OnClickEvent(string buttonName)
    {
        //NavigationManager.NavigateTo("//museum");
        await App.Current.MainPage.Navigation.PushAsync(new xMuseumPage());
    }
}

