@page "/museumcardclient"
@using musei.Data


@using Radzen
@using Microsoft.Maui.Graphics

<link rel="stylesheet" href="~/@(nameof(musei)).styles.css" />

<RadzenCard>
    <div class="flexRow">
        <div class="leftAlign">
            <RadzenButton Variant="Variant.Text" Click=@(args => OnClickMuseum())>
                <img src=@ImagePath />
            </RadzenButton>
            <RadzenButton Variant="Variant.Text" Click=@(args => OnClickMuseum()) Text="@m.name" Size="ButtonSize.Large" />
            <RadzenButton Variant="Variant.Text" Click=@(args => OnClickAddress()) Text="@m.address" Icon="account_balance" />
            <RadzenButton Variant="Variant.Text" Text="@m.hours" Icon="event" />
            <RadzenButton Variant="Variant.Flat" Click=@(args => OnClickFollow()) Text=@buttonStatus ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.Medium" />
        </div>
    </div>
</RadzenCard>

@code {
    [Parameter]
    public Museum m { get; set; }

    public string ImagePath { get; set; } = "Images/randmuseum.png";

    private string buttonStatus = "Follow";

    void OnClickFollow()
    {
        if (buttonStatus == "Follow")
        {
            buttonStatus = "Unfollow";
        }
        else
        {
            buttonStatus = "Follow";
        }
    }

    void OnClickAddress()
    {
    }

    async void OnClickMuseum()
    {
        Session.currentMuseum = m;
        await App.Current.MainPage.Navigation.PushAsync(new xMuseumPage());
    }
}

