@page "/museumcardclient"
@using musei.Data
@using Radzen
@using Microsoft.Maui.Graphics
@inject Session sess
@inject CosmosService cs

<link rel="stylesheet" href="~/@(nameof(musei)).styles.css" />

<style>
    .flexRow {
        display: flex;
        flex-direction: row;
        height: 330px;
        width: 100%;
    }

    .rightAlign {
        margin-left: auto;
        margin-right: 0;
        align-content: center;
        justify-content: center;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 60%;
        border-radius: 20px;
    }

    .content {
        flex-grow: 3;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .more {
        flex-grow: 1;
        margin-left: 10px;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
        width: 100%
    }
</style>

<RadzenCard Style="border-radius: 20px; margin: 20px; background-color: #EFEFF0">
    <div class="flexRow">
        <div class="content">
            <img src=@m.imageURL />
            <div class="buttons">
                <RadzenButton Variant="Variant.Text" ButtonStyle="ButtonStyle.Danger" Style="width"
                              Click=@(args => OnClickMuseum()) Text="@m.name" Size="ButtonSize.Large" />
                @if (sess.currentUser != null && m != null && sess.currentUser.followedMuseums.Contains(m.id))
                {
                    followStatus = "Unfollow";
                }
                else
                {
                    followStatus = "Follow";
                }
                <RadzenButton Variant="Variant.Flat" Click=@(args => OnClickFollow()) Text=@followStatus
                              ButtonStyle="ButtonStyle.Danger" />
            </div>
            <RadzenButton Variant="Variant.Text" ButtonStyle="ButtonStyle.Danger"
                          Click=@(args => OnClickAddress()) Text="@m.address" Icon="account_balance" />
            <RadzenButton Variant="Variant.Text" ButtonStyle="ButtonStyle.Danger" Text="@m.hours" Icon="event" />
        </div>
        <div class="more">
            <RadzenButton Variant="Variant.Flat" Click=@(args => OnClickMuseum()) Text=">"
                          ButtonStyle="ButtonStyle.Danger" Style="height:100%" />
        </div>
    </div>
</RadzenCard>

@code {
    [Parameter]
    public Museum m { get; set; } = null;

    private string followStatus = "Follow";

    async void OnClickFollow()
    {
        if (followStatus == "Follow")
        {
            if (sess.currentUser == null)
            {
                await App.Current.MainPage.Navigation.PushAsync(new xAccount());
            }
            else
            {
                followStatus = "Unfollow";
                sess.currentUser.followedMuseums.Add(m.id);
            }
        }
        else
        {
            followStatus = "Follow";
            sess.currentUser.followedMuseums.Remove(m.id);
        }
        await cs.UpsertUser(sess.currentUser);
    }

    void OnClickAddress()
    {
    }

    async void OnClickMuseum()
    {
        sess.currentMuseum = m;
        await App.Current.MainPage.Navigation.PushAsync(new xMuseumPage());
    }
}

