@page "/museumcardclient"
@using musei.Data
@using Radzen
@using Microsoft.Maui.Graphics
@inject Session sess
@inject CosmosService cs

<link rel="stylesheet" href="~/@(nameof(musei)).styles.css" />

<RadzenCard>
    <div class="flexRow">
        <div class="leftAlign">
            <RadzenButton Variant="Variant.Text" Click=@(args => OnClickMuseum())>
                <img src=@ImagePath />
            </RadzenButton>
            <RadzenButton Variant="Variant.Text" Click=@(args => OnClickMuseum()) Text="@m.name" Size="ButtonSize.Large" />
            <RadzenButton Variant="Variant.Text" Click=@(args => OnClickAddress()) Text="@m.address" Icon="account_balance" />
            <RadzenButton Variant="Variant.Text" Text="@m.hours" Icon="event" />
            <RadzenButton Variant="Variant.Flat" Click=@(args => OnClickFollow()) Text=@followStatus ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.Medium" />
        </div>
    </div>
</RadzenCard>

@code {
    [Parameter]
    public Museum m { get; set; } = null;

    public string ImagePath { get; set; } = "Images/randmuseum.png";

    private string followStatus = "Follow";

    async void OnClickFollow()
    {
        if (followStatus == "Follow")
        {
            if (sess.currentUser == null)
            {
                await App.Current.MainPage.Navigation.PushAsync(new xAccount());
            }
            else
            {
                followStatus = "Unfollow";
                sess.currentUser.followedMuseums.Add(m.id);
            }
        }
        else
        {
            followStatus = "Follow";
            sess.currentUser.followedMuseums.Remove(m.id);
        }
        await cs.UpsertUser(sess.currentUser);
    }

    protected override void OnInitialized()
{
        Console.WriteLine($"\n\nON INIT\ncurrent user = {sess.currentUser}\n{m}\n");
        if (sess.currentUser != null && m != null && sess.currentUser.followedMuseums.Contains(m.id))
        {
            Console.WriteLine("\n\nSETTING STATUS\n\n");

            followStatus = "Unfollow";
        }
    }

    void OnClickAddress()
    {
    }

    async void OnClickMuseum()
    {
        sess.currentMuseum = m;
        await App.Current.MainPage.Navigation.PushAsync(new xMuseumPage());
    }
}

