@page "/museum"
@using Radzen
@using musei.Data
@inject CosmosService cs
@inject Session sess

<style>
    .flexColumn {
        display: flex;
        flex-direction: column;
    }

    .flexRow {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 10px;
    }

    .info {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }

    .address {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        margin-right: 40px;
        gap: 0.5em;
    }

    .hours {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        gap: 0.5em;
    }

    .eventNewsList {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    body {
        padding: 20px;
    }

    img {
        border-radius: 20px;
    }

    .museo-img {
        object-fit: cover;
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
    }
</style>

<body>
    <img class ="museo-img" src=@sess.currentMuseum.imageURL />

    <h3 style="text-align: center; color: #F52D11">@sess.currentMuseum.name</h3>

    <div class="flexColumn">
        <div class="info">
            <div class="address">
                <RadzenIcon Icon="place" />
                <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Left"
                            Style="color: #F52D11">@sess.currentMuseum.address</RadzenText>
            </div>
            <div class="hours">
                <RadzenIcon Icon="schedule" />
                <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Left"
                Style="color: #F52D11">@sess.currentMuseum.hours</RadzenText>
            </div>
        </div>

        <RadzenCard Class="rz-shadow-0" Style="margin-bottom: 20px; background-color: #EFEFF0; border-radius: 20px;">
            <div>
                <RadzenText TextStyle="TextStyle.H5" Style="color: #F52D11"><strong>Museum Events</strong></RadzenText>
                <div class="eventNewsList">
                    @for (int i = 0; i < sess.currentMuseum.events.Count; i++)
                    {
                        <EventCard e=cs.events[sess.currentMuseum.events[i]] />
                    }
                </div>
            </div>

        </RadzenCard>


    </div>
</body>

@code {
    public string ImagePath { get; set; } = "Images/randmuseum.png";
}

