@page "/museumcardadmin"

@using Radzen
@using Microsoft.Maui.Graphics

<link rel="stylesheet" href="~/@(nameof(musei)).styles.css" />

<RadzenCard>
    <div class="flexRow">
        <div class="leftAlign">
            <a href="/museum">
                <img src=@ImagePath />
            </a>
            <h4>
                <RadzenLink Style="color: black" Text=@MuseumName Path="/museum"/>
            </h4>

            <div>
                <div class="flexRow">
                    <RadzenIcon Icon="account_balance" />
                    <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Left">@Address</RadzenText>
                </div>
                <div class="flexRow">
                    <RadzenIcon Icon="event" />
                    <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Left">@OpeningHours</RadzenText>
                </div>

            </div>
            <a href="/newevent">
                <RadzenButton Variant="Variant.Flat" Text="Add" ButtonStyle="ButtonStyle.Danger" />
            </a>
</div>
    </div>
</RadzenCard>

@code {
    [Parameter]
    public string MuseumName { get; set; }

    [Parameter]
    public string Address { get; set; }

    [Parameter]
    public string OpeningHours { get; set; }

    [Parameter]
    public string ImagePath { get; set; }

}
