.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.rightAlign {
    margin-left: auto;
    margin-right: 0;
    align-content: center;
    justify-content: center;
}

img {
    max-width: 100%;
}
