@page "/museum"
@using Radzen
@using musei.Data
@inject CosmosService cs
@inject Session sess

<style>
    .flexColumn {
        display: flex;
        flex-direction: column;
    }

    .flexRow {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 10px;
    }

    .eventNewsList {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
</style>

<br />
<img src=@ImagePath />
<br />
<h3 style="text-align:center">@sess.currentMuseum.name</h3>

<br />

<div class="flexColumn">
    <div class="flexRow">
        <div class="flexRow">
            <RadzenIcon Icon="place" />
            <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Right">@sess.currentMuseum.address</RadzenText>
        </div>
        <div class="flexRow">
            <RadzenIcon Icon="schedule" />
            <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Left">@sess.currentMuseum.hours</RadzenText>
        </div>
    </div>
    <br />
    <br />
    <h4>Museum Events</h4>
    <div class="eventNewsList">
        @for (int i = 0; i < sess.currentMuseum.events.Count; i++)
        {

            <EventCard e=cs.events[sess.currentMuseum.events[i]] />
        }
    </div>
</div>

@code {
    public string ImagePath { get; set; } = "Images/randmuseum.png";
}

