@page "/museumcardadmin"

@using Radzen
@using Microsoft.Maui.Graphics
@using musei.Data
@inject Session sess

<link rel="stylesheet" href="~/@(nameof(musei)).styles.css" />

<style>
    .flexRow {
        display: flex;
        flex-direction: row;
        height: 330px;
        width: 100%;
    }

    .rightAlign {
        margin-left: auto;
        margin-right: 0;
        align-content: center;
        justify-content: center;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 60%;
        border-radius: 20px;
    }

    .content {
        flex-grow: 3;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .more {
        flex-grow: 1;
        margin-left: 10px;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
        width: 100%
    }
</style>

<RadzenCard Style="border-radius: 20px; margin: 20px; background-color: #EFEFF0">
    <div class="flexRow">
        <div class="content">
            <img src=@m.imageURL />
            <div class="buttons">
                <RadzenButton Variant="Variant.Text" ButtonStyle="ButtonStyle.Danger" Style="width"
                              Click=@(args => OnClickMuseum()) Text="@m.name" Size="ButtonSize.Large" />
                <RadzenButton Variant="Variant.Flat" Click=@(args => OnClickAdd()) Text="Add"
                              ButtonStyle="ButtonStyle.Danger" />
            </div>
            <RadzenButton Variant="Variant.Text" ButtonStyle="ButtonStyle.Danger"
                          Click=@(args => OnClickMap()) Text="@m.address" Icon="account_balance" />
            <RadzenButton Variant="Variant.Text" ButtonStyle="ButtonStyle.Danger" Text="@m.hours" Icon="event" />
        </div>
        <div class="more">
            <RadzenButton Variant="Variant.Flat" Click=@(args => OnClickMuseum()) Text=">"
                          ButtonStyle="ButtonStyle.Danger" Style="height:100%" />
        </div>
    </div>
</RadzenCard>

@code {
    [Parameter]
    public Museum m { get; set; } = null;

    async void OnClickMuseum()
    {
        sess.currentMuseum = m;
        await App.Current.MainPage.Navigation.PushAsync(new xMuseumPage());
    }

    async void OnClickAdd()
    {
        sess.currentMuseum = m;
        await App.Current.MainPage.Navigation.PushAsync(new xAddEvent());
    }
    void OnClickMap()
    {
    }
}