@page "/museumcardclient"

@using Radzen
@using Microsoft.Maui.Graphics

<link rel="stylesheet" href="~/@(nameof(musei)).styles.css" />

<RadzenCard>
    <div class="flexRow">
        <div class="leftAlign">
            <a href="/museum">
                <img src=@ImagePath />
            </a>
            <h4>
                <RadzenLink Style="color: black" Text=@MuseumName Path="/museum"/>
            </h4>

            <div>
                <div class="flexRow">
                    <RadzenIcon Icon="account_balance" />
                    <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Left">@Address</RadzenText>
                </div>
                <div class="flexRow">
                    <RadzenIcon Icon="event" />
                    <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Left">@OpeningHours</RadzenText>
                </div>

            </div>

            <RadzenButton Variant="Variant.Flat" Click=@(args => OnClick("Danger button")) Text=@buttonStatus ButtonStyle="ButtonStyle.Danger" />

        </div>
    </div>
</RadzenCard>

@code {
    [Parameter]
    public string MuseumName { get; set; }

    [Parameter]
    public string Address { get; set; }

    [Parameter]
    public string OpeningHours { get; set; }

    [Parameter]
    public string ImagePath { get; set; }

    private string buttonStatus = "Follow";

    void OnClick(string buttonName)
    {
        if (buttonStatus == "Follow")
        {
            buttonStatus = "Unfollow";
        }
        else
        {
            buttonStatus = "Follow";
        }
    }
}
