@page "/navbar"
@using Radzen

<style>
    ul {
        /*        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #ffffff;
        bottom: 0;
        width: 100%;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;*/
        list-style-type: none;
        overflow: hidden;
        background-color: #ffffff;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    li {
        display: inline-block;
        justify-content: space-evenly;
    }


    li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    /* Change on hover */
    li a:hover {
        background-color: #eeeeee;
        color: #F52D11;
    }

    .nav-item a.active {
        color: #F52D11;
    }
</style>

<ul>
    <li class="nav-item"><a href="/">Home</a></li>
    <li class="nav-item"><a href="/allmuseums">Museums</a></li>
    <li class="nav-item"><a href="/account">Profile</a></li>
</ul>