@page "/newevent"

@using Radzen
@using Microsoft.Maui.Graphics
@using System.Text.Json

<link rel="stylesheet" href="~/@(nameof(musei)).styles.css" />
<style>
    .flexColumn {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 5px;
    }
</style>

<h3>Create New Event</h3>

<RadzenCard class="flexColumn">
    <RadzenTextBox Placeholder="Name" Class="w-100" />
    <RadzenTextBox Placeholder="Museum" Class="w-100" />
    <!--
    <div display="flex" flexDirection="row" class="row align-items-center">
        <div class="col w-60 float: left">
            <RadzenTextBox Placeholder="Date" />
        </div>
        <div class="col w-60 float: right">
            <RadzenTextBox Placeholder="Time" />
        </div>
    </div>
    -->
    <RadzenTextBox Placeholder="Date" Class="w-100"/>
    <RadzenTextBox Placeholder="Time" Class="w-100" />
    <RadzenTextArea Placeholder="Description" Class="w-100" Rows="10"/>
    <RadzenTextBox Placeholder="Price" Class="w-100" />
    <RadzenUpload Multiple="false" Accept="image/*" Url="upload/single" class="w-100" ChooseText="Select Image" />
</RadzenCard>

<RadzenCard class="row align-items-center">
    <RadzenButton Text="Create Event" class="align-items-center" />
</RadzenCard>

