@page "/payment"
@using Radzen
 
<h3>Payment</h3>

<RadzenCard class="flexRow">
    <div>
        <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Left">@NumberOfTickets Ticket(s)</RadzenText>
        <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Left">Taxes and fees</RadzenText>
        <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Left">Total</RadzenText>

    </div>
    <div>
        <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Left">@TicketPrice</RadzenText>
        <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Left">@TaxesFees</RadzenText>
        <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Left">@Total</RadzenText>
    </div>
    <RadzenCard>
        <RadzenAutoComplete Disabled="true" Placeholder="Name on card" Style="width: 100%;" />
        <RadzenAutoComplete Disabled="true" Placeholder="Debit/Credit card number" Style="width: 100%;" />
        <RadzenAutoComplete Disabled="true" Placeholder="Expiration date MM/YY" Style="width: 100%;" />
        <RadzenAutoComplete Disabled="true" Placeholder="Security code" Style="width: 100%;" />
        <RadzenAutoComplete Disabled="true" Placeholder="Zip code" Style="width: 100%;" />
    </RadzenCard>


</RadzenCard>

    @code {
        [Parameter]
        public int NumberOfTickets { get; set; }

        [Parameter]
        public int TicketPrice { get; set; }

        [Parameter]
        public int TaxesFees { get; set; }

        [Parameter]
        public int Total { get; set; }
    }