@page "/payment"
@using musei.Data
@using Radzen
@inject CosmosService cs
@inject Session sess

<style>
    .flexRow {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .flexColumn {
        display: flex;
        flex-direction: column;
    }

    .flexStart {
        align-self: flex-start;
    }

    .flexEnd {
        align-self: flex-end;
    }

    .alignleft {
        float: left;
    }

    .alignright {
        float: right;
    }

    .mainColor {
        color: #F52D11;
        background-color: #F52D11;
    }

    body {
        padding: 20px;
    }
</style>

<body>
    <RadzenCard Class="rz-border-base-500 rz-shadow-0" Style="margin-bottom: 20px; background-color: #F5F5F5; border-radius: 20px;" >
        <div class="flexColumn">
            <div>
                <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Left" Style="color: #F52D11;"><strong>Price details</strong></RadzenText>
            </div>
            <div class="flexRow">
                <div class="flexStart">
                    <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Left" Style="color: #F52D11;">@NumberOfTickets Ticket(s)</RadzenText>
                    <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Left" Style="color: #F52D11;">Taxes and fees</RadzenText>
                    <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Left" Style="color: #F52D11;">Total</RadzenText>

                </div>
                <div class="flexEnd">
                    <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Right" Style="color: #F52D11;">€@TicketPrice</RadzenText>
                    <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Right" Style="color: #F52D11;">€@TaxesFees</RadzenText>
                    <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Right" Style="color: #F52D11;">€@Total</RadzenText>
                </div>
            </div>
        </div>
    </RadzenCard>
    <div>
        <RadzenAutoComplete Style="border-radius: 10px; margin-bottom: 10px; width: 100%;" Placeholder="Name on card" />
        <RadzenAutoComplete Style="border-radius: 10px; margin-bottom: 10px; width: 100%;" Placeholder="Debit/Credit card number" />
        <RadzenAutoComplete Style="border-radius: 10px; margin-bottom: 10px; width: 100%; " Placeholder="Expiration date MM/YY" />
        <RadzenAutoComplete Style="border-radius: 10px; margin-bottom: 10px; width: 100%;" Placeholder="Security code" />
        <RadzenAutoComplete Style="border-radius: 10px; margin-bottom: 10px; width: 100%;" Placeholder="Zip code" />
    </div>
    <RadzenButton Click=@(args => OnPayNow()) class="mainColor" Style="width: 100%;"
                  ButtonStyle="ButtonStyle.Danger" Variant="Variant.Flat" Text="Pay now" />
</body>



@code {
    [Parameter]
    public int NumberOfTickets { get; set; }

    [Parameter]
    public int TicketPrice { get; set; }

    [Parameter]
    public int TaxesFees { get; set; }

    [Parameter]
    public int Total { get; set; }

    async void OnPayNow()
    {
        sess.currentUser.eventBookings.Add(sess.currentBooking);
        Console.WriteLine(sess.currentUser.eventBookings[0]);
        Console.WriteLine(sess.currentUser.eventBookings[0].people[0]);

        await cs.UpsertUser(sess.currentUser);
        //sess.currentBooking = null;
        await App.Current.MainPage.Navigation.PushAsync(new xBookingConfirmation());
    }
}