@page "/addperson"

@using Radzen
@using Microsoft.Maui.Graphics

<link rel="stylesheet" href="~/@(nameof(musei)).styles.css" />

<RadzenCard>
    <h5>Person @Count</h5>
    <RadzenTextBox Placeholder="Name" Class="w-100" @bind-Value=@name/>
    <RadzenTextBox Placeholder="Email" Class="w-100" @bind-Value=@emailAddress />
    <RadzenTextArea Placeholder="Special accomodations (optional)" Class="w-100" Rows="2" @bind-Value="@optionalSpecialAccomodations"/>
</RadzenCard>

@code {
    [Parameter]
    public int Count { get; set; }

    [Parameter]
    public String name { get; set; }

    [Parameter]
    public String emailAddress { get; set; }

    [Parameter]
    public String optionalSpecialAccomodations { get; set; }
}
