@using Radzen
@page "/signup"


<br />

<RadzenText TextStyle="TextStyle.H3" TextAlign="TextAlign.Center">Musei Fantastici</RadzenText>
<RadzenText TextStyle="TextStyle.Body1" TextAlign="TextAlign.Center"><br />Welcome to our community!</RadzenText>


<div class="container-fluid">
    <div class="row d-flex px-3">
        <div class="col-xl-6 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Full Name</RadzenText>
                <RadzenTextBox Change=@(args => OnChange(args, "TextBox with placeholder")) Class="w-100" />
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Birthday</RadzenText>
                <RadzenDatePicker @bind-Value=@value DateFormat="d" Change=@(args => OnChangeD(args, "DatePicker", "MM/dd/yyyy")) Class="w-100" />
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Email</RadzenText>
                <RadzenTextBox Change=@(args => OnChange(args, "TextBox with placeholder")) Class="w-100" />
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Password</RadzenText>
                <RadzenTextBox Change=@(args => OnChange(args, "TextBox with placeholder")) Class="w-100" />
            </RadzenCard>
            <RadzenCard>
                <RadzenButton Click=@(args => OnClick("Primary button")) Text="Sign Up" ButtonStyle="ButtonStyle.Primary" />
            </RadzenCard>


        </div>

    </div>
</div>

@*<EventConsole @ref=@console Class="mt-4" />*@

@code {
    string userName = "admin";
    string password = "admin";

    //EventConsole console;

    DateTime? value = DateTime.Now;

    void OnClick(string buttonName)
    {
        //console.Log($"{buttonName} clicked");
    }

    void OnChangeD(DateTime? value, string name, string format)
    {
        //console.Log($"{name} value changed to {value?.ToString(format)}");
    }

    void OnLogin(LoginArgs args, string name)
    {
        //console.Log($"{name} -> Username: {args.Username}, password: {args.Password}");
    }

    void OnRegister(string name)
    {
        //console.Log($"{name} -> Register");
    }

    void OnResetPassword(string value, string name)
    {
        //console.Log($"{name} -> ResetPassword for user: {value}");
    }

    void OnChange(string value, string name)
    {
        //console.Log($"{name} value changed to {value}");
    }
}