@using Radzen
@using musei.Data
@inject CosmosService cs
@page "/signup"


<br />

<RadzenText TextStyle="TextStyle.H3" TextAlign="TextAlign.Center">Musei Fantastici</RadzenText>
<RadzenText TextStyle="TextStyle.Body1" TextAlign="TextAlign.Center"><br />Welcome to our community!</RadzenText>


<div class="container-fluid">
    <div class="row d-flex px-3">
        <div class="col-xl-6 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Full Name</RadzenText>
                <RadzenTextBox @bind-Value=@newUser.name Class="w-100" />
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Birthday</RadzenText>
                <RadzenDatePicker @bind-Value=@value DateFormat="d" Class="w-100" />
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Email</RadzenText>
                <RadzenTextBox @bind-Value=@newUser.id Class="w-100" />
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Password</RadzenText>
                <RadzenTextBox @bind-Value=@newUser.password Class="w-100" />
            </RadzenCard>
            <RadzenCard>
                <RadzenButton Click=@(args => OnClickSignup()) Text="Sign Up" ButtonStyle="ButtonStyle.Primary" />
            </RadzenCard>
        </div>

    </div>
</div>

@code {
    public User newUser = new User();

    DateTime? value = DateTime.Now;

    async void OnClickSignup()
    {
        newUser.birthDate = (DateTime)value;
        await cs.SignupUser(newUser);
        Session.currentUser = newUser;
        await App.Current.MainPage.Navigation.PushAsync(new xHomePage());
    }
}