@page "/ticketdetails"
@using musei.Data

@using Radzen
@using Microsoft.Maui.Graphics
@using System.Text.Json
@inject NavigationManager NavigationManager

<br />

<link rel="stylesheet" href="~/@(nameof(musei)).styles.css" />

<h3>{Event Name} on {Date}</h3>
<h6>at {Time}</h6>
<br />

@foreach (var person in _people)
{
    <PersonCard Count=@count />
}

<RadzenCard class="row align-items-center">
    <RadzenButton Text="+Add Person" class="align-items-center" Click=@Add/>
</RadzenCard>
<RadzenCard class="row align-items-center">
    <RadzenButton Click=@(args => OnNext("next -> payment")) Text="Next" class="align-items-center" />
</RadzenCard>

@code {

    int count = 1;

    List<Person> _people = new List<Person>()
    {
        new Person(){ }
    };

    void Add()
    {
        _people.Add(new Person());
        count++;
    }

    void OnNext(string buttonName)
    {
        NavigationManager.NavigateTo("/payment");
    }

}
