@page "/ticketdetails"

@using Radzen
@using Microsoft.Maui.Graphics
@using System.Text.Json
@inject NavigationManager NavigationManager

<br />

<link rel="stylesheet" href="~/@(nameof(musei)).styles.css" />

<h3>{Event Name} on {Date}</h3>
<h6>at {Time}</h6>
<br />

@while (count <= totalPeople)
{
    <PersonCard Count=@count/>
        count++;
    }

@if (count > totalPeople)
{
    count = 1;
}

<RadzenCard class="row align-items-center">
    <RadzenButton Text="+Add Person" class="align-items-center" Click=@Add/>
</RadzenCard>
<RadzenCard class="row align-items-center">
    <RadzenButton Click=@(args => OnNext("next -> payment")) Text="Next" class="align-items-center" />
</RadzenCard>

@code {
        int totalPeople = 1;
        int count = 1;

        void Add()
        {
            totalPeople++;
        }

        async void OnNext(string buttonName)
        {
            await App.Current.MainPage.Navigation.PushAsync(new xPayment());
        }

    }