@page "/ticketdetails"
@using musei.Data
@using Radzen
@using Microsoft.Maui.Graphics
@using System.Text.Json

<br />

<link rel="stylesheet" href="~/@(nameof(musei)).styles.css" />

<h3>{Event Name} on {Date}</h3>
<h6>at {Time}</h6>
<br />

@foreach (var person in _people)
{
    <h5>Person @person.count</h5>
    <RadzenTextBox Placeholder="Name" Class="w-100" @bind-Value=@person.name />
    <RadzenTextBox Placeholder="Email" Class="w-100" @bind-Value=person.emailAddress />
    <RadzenTextArea Placeholder="Special accomodations (optional)" Class="w-100" Rows="2" @bind-Value=@person.optionalSpecialAccomodations />
    System.Diagnostics.Debug.WriteLine(person);
}

<RadzenCard class="row align-items-center">
    <RadzenButton Text="+Add Person" class="align-items-center" Click=@Add />
</RadzenCard>
<RadzenCard class="row align-items-center">
    <RadzenButton Click=@(args => OnNext("next -> payment")) Text="Next" class="align-items-center" />
</RadzenCard>

@code {
    List<Person> _people = new List<Person>()
{
        new Person(1){ }
    };

    void Add()
    {
        _people.Add(new Person(_people.Count + 1));
    }

    async void OnNext(string buttonName)
    {
        Console.WriteLine(_people);
        await App.Current.MainPage.Navigation.PushAsync(new xPayment());
    }
}