@page "/ticketdetails"
@using musei.Data
@using Radzen
@using Microsoft.Maui.Graphics
@using System.Text.Json
@inject CosmosService cs
@inject Session sess

<style>
    body {
        padding: 20px;
    }

    .title {
        text-align: center;
        color: #F52D11;
    }

    .flexRow {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
    }

    .person {
        margin-bottom: 20px;
    }
</style>

<link rel="stylesheet" href="~/@(nameof(musei)).styles.css" />

<body>
    <div class="title">
        <RadzenText TextStyle="TextStyle.H3" Style="color: #F52D11;">
            <strong>@sess.currentEvent.name on @sess.currentEvent.startTime.ToShortDateString()</strong>
        </RadzenText>
        <RadzenText TextStyle="TextStyle.H6" Style="color: #F52D11;">at @sess.currentEvent.startTime.ToShortTimeString()</RadzenText>
    </div>

    <br />

    @foreach (var person in _people)
    {
        <div class="person">
            <h5 style="color: #F52D11">Person @person.count</h5>
            <RadzenTemplateForm Submit=@OnSubmit 
                        InvalidSubmit=@OnInvalidSubmit
                        TItem="List<Person>"
                        Data=@_people>
                <RadzenTextBox Style="border-radius: 10px" Placeholder="Name" Class="w-100" @bind-Value=@person.name Name="name"/>
                <RadzenRequiredValidator Component="name" Text="Name is required" Popup=false Style="position: static" />
                <RadzenTextBox Style="border-radius: 10px" Placeholder="Email" Class="w-100" @bind-Value=person.emailAddress Name="email"/>
                <RadzenRequiredValidator Component="email" Text="Email is required" Popup=false Style="position: static" />
                <RadzenTextArea Style="border-radius: 10px" Placeholder="Special accomodations (optional)" Class="w-100" Rows="2" @bind-Value=@person.optionalSpecialAccomodations />
                <div class="flexRow" style="justify-content:space-evenly">
                    <RadzenText TextAlign="TextAlign.Left">
                        <RadzenButton Variant="Variant.Flat" Click=@Add Text="+Add Person"
                                  ButtonStyle="ButtonStyle.Danger" />
                    </RadzenText>
                    <RadzenText TextAlign="TextAlign.Right">
                        <RadzenButton Variant="Variant.Flat"
                                  ButtonStyle="ButtonStyle.Danger" 
                                  ButtonType="ButtonType.Submit" 
                                  Text="Submit"/>
                    </RadzenText>
                </div>
            </RadzenTemplateForm>
        </div>
        System.Diagnostics.Debug.WriteLine(person);
    }
</body>

@code {

    List<Person> _people = new List<Person>()
    {
        new Person()
        {
            count = 1
        }
    };

    void Add()
    {
        Person newPerson = new Person();
        newPerson.count = _people.Count + 1;

        _people.Add(newPerson);
    }

    async void OnSubmit()
    {
        Booking booking = new Booking();
        booking.bookedEvent = sess.currentEvent.id;
        booking.people = _people;
        sess.currentBooking = booking;
        await App.Current.MainPage.Navigation.PushAsync(new xPayment());
    }

    void OnInvalidSubmit(FormInvalidSubmitEventArgs args) { }

}